.wp-block-bm-wp-details-block {
	color: var(--wp--preset--color--foreground);
	background-color: var(--wp--preset--color--background);
	cursor: pointer;
}

.wp-block-bm-wp-details-block br[data-rich-text-line-break] {
	display: none;
}
